{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "ServiceBus__fullyQualifiedNamespace": "",
    "ServiceBus-EmailQueue": "",
    "ServiceBus-SMSQueue": "",
    "SendGrid-Key": "",
    "SendGrid-From": "",
    "Twilio-SID": "",
    "Twilio-Key": "",
    "Twilio-PhoneNo": ""
  }
}
